.home_container{
  .section_heading{
    background: $primary-gray;
    min-height: fit-content;
    min-height: 550px;
    border-bottom-right-radius: 100px;
    .heading_wrapper{
      .img_wrapper{
        .heading_img{
        }
      }
      .title_heading{
        font-size: 50px;
        font-weight: 800;
        color: $primary-blue;
      }
      .desc_heading{
        font-size: 40px;
        font-weight: 700;
        color: $primary-blue;
      }
    }
  }
  .our_success{
    .success_wrapper{
      .success_txt{
        text-transform: uppercase;
        font-weight: 400;
        font-size: 14px;
        color: $primary-blue;
      }
      .success_desc{
        font-size: 28px;
        color: $primary-blue;
      }
      .success_list{
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        .success_item{
          list-style: none;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .item_num{
            margin: 0;
            font-weight: 700;
            color: $primary-blue;
          }
          .item_desc{
            margin: 0;
            color: $primary-blue;
          }
        }
      }
    }
  }
  .french_map{
    .map_wrapper{
      .map_holder{
        .map_svg{
          g{
            path{
              fill: $primary-gray2;
              stroke-width: 1px;
              stroke: $primary-gray3;
              cursor: pointer;
              transition: .3s;
              &:hover{
                fill:$primary-red;
              }
            }
          }
        }
      }
    }
  }
  .divider{
    .divider_ligne{
      width: 100%;
      height: 5px;
      background: $primary-blue;
      display: block;
      position: relative;
      &::before{
        content: "";
        position: absolute;
        width: 30%;
        top: 0;
        left: 0;
        height: 5px;
        background: $primary-red;
      }
      &::after{
        content: "";
        position: absolute;
        width: 30%;
        top: 0;
        right: 0;
        height: 5px;
        background: $primary-red;
      }
    }
  }
  .actuality{
    .actuality_wrapper{
      .title{
        .title_txt{
          font-size: 45px;
          font-weight: 800;
          position: relative;
          margin: 0;
          color: $primary-blue;
          &::after{
            content: "";
            width: 170px;
            height: 3px;
            bottom: 0;
            left: 90px;
            background: $primary-blue;
            position: absolute;
          }
        }
      }
      .card_wrapper{
        width: 100%;
        height: fit-content;
        overflow: hidden;
        border-radius: 5px;
        .card_img{
          overflow: hidden;
          border-radius: 0 0 5px 5px;
          height: 150px;
          .image{
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .card_txt{
          height: 60px;
          justify-content: center;
          position: relative;
          display: flex;
          flex-direction: column;
          padding: 5px;
          .title{
            font-size: 16px;
            font-weight: 600;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0;
            color: $primary-blue;
          }
          .desc{
            font-size: 14px;
            font-weight: 500;
            overflow: hidden;
            width: 80%;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin: 0;
            color: $primary-blue;
          }
          .see_more{
            position: absolute;
            right: 5px;
            bottom: 10px;
            font-size: 12px;
            color: $primary-gray3;
          }
        }
      }
    }
  }
  .our_proposal{
    .proposal_wrapper{
      .title{
        .title_txt{
          font-size: 45px;
          font-weight: 800;
          position: relative;
          margin: 0;
          color: $primary-blue;
          &::after{
            content: "";
            width: 170px;
            height: 3px;
            bottom: 0;
            left: 250px;
            background: $primary-blue;
            position: absolute;
          }
        }
        .desc_txt{
          margin: 0;
          color: $primary-blue;
        }
      }
      .card_wrapper{
        border: 2px solid #65B9B7;
        border-radius: 10px;
        padding: 10px;
        .card_header{
          height: 80px;
          .title{
            margin: 0;
            font-weight: 900;
            color: $primary-blue;
          }
          .desc{
            margin: 0;
            font-weight: 600;
            color: $primary-blue;
          }
        }
        .card_desc{
          .desc{
            margin: 0;
            color: $primary-blue;
          }
        }
      }
    }
  }
}